<div class="card p-0 shadow-none border-none">
    <p-toast></p-toast>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

    <app-standard-list-view [config]="listViewConfig" [data]="semesters">
    </app-standard-list-view>

    <p-dialog [(visible)]="semesterDialog" [style]="{width: '450px'}" header="Semester Details" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <form [formGroup]="semesterForm">
                <div class="field">
                    <label for="semesterName">Name</label>
                    <input type="text" pInputText id="semesterName" formControlName="semesterName" required appAutofocus />
                    <small class="p-error" *ngIf="submitted && semesterForm.get('semesterName')?.invalid">Name is
                        required.</small>
                </div>
                <div class="field">
                    <label for="semesterCode">Code</label>
                    <input type="text" pInputText id="semesterCode" formControlName="semesterCode" required />
                    <small class="p-error" *ngIf="submitted && semesterForm.get('semesterCode')?.invalid">Code is
                        required.</small>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="startDate">Start Date</label>
                        <p-calendar id="startDate" formControlName="startDate" appendTo="body"
                            dateFormat="yy-mm-dd"></p-calendar>
                        <small class="p-error" *ngIf="submitted && semesterForm.get('startDate')?.invalid">Start Date is
                            required.</small>
                    </div>
                    <div class="field col">
                        <label for="endDate">End Date</label>
                        <p-calendar id="endDate" formControlName="endDate" appendTo="body"
                            dateFormat="yy-mm-dd"></p-calendar>
                        <small class="p-error" *ngIf="submitted && semesterForm.get('endDate')?.invalid">End Date is
                            required.</small>
                    </div>
                </div>
            </form>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveSemester()"></button>
        </ng-template>
    </p-dialog>
</div>