<div class="card p-4">
    <p-tabs [value]="activeTabIndex.toString()" (valueChange)="activeTabIndex = +$event">
        <p-tablist>
            <p-tab value="0">{{ editId ? 'Edit Syllabus' : 'Add Syllabus' }}</p-tab>
            <p-tab value="1">View Syllabi</p-tab>
        </p-tablist>

        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="mt-4 max-w-5xl">
                    <app-syllabus-editor [editId]="editId" (saveComplete)="onEditorSaveComplete()"
                        (cancel)="onEditorCancel()">
                    </app-syllabus-editor>
                </div>
            </p-tabpanel>

            <p-tabpanel value="1">
                <div class="mt-3">
                    <app-standard-list-view [config]="listViewConfig" [data]="syllabi">
                    </app-standard-list-view>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>