<p-tabs value="0">
    <p-tablist>
        <p-tab value="0">Add</p-tab>
        <p-tab value="1">View</p-tab>
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            <p-accordion value="0">
                <p-accordion-panel value="0">
                    <p-accordion-header>Basic Information</p-accordion-header>
                    <p-accordion-content>
                        <div class="form-container">
                            <div class="form-field">
                                <label for="first-name">Student First Name</label>
                                <input id="first-name" type="text" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="middle-name">Middle Name</label>
                                <input id="middle-name" type="text" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="last-name">Last Name</label>
                                <input id="last-name" type="text" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="gender">Gender</label>
                                <select id="gender" name="gender">
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="form-field">
                                <label for="dob">DOB</label>
                                <input id="dob" type="date" />
                            </div>

                            <div class="form-field">
                                <label for="email">Email</label>
                                <input id="email" type="email" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="phone-number">Phone Number</label>
                                <input id="phone-number" type="text" pInputText />
                            </div>
                        </div>
                        <div class="form-actions">
                            <button pButton type="reset" label="Reset" class="p-button-secondary"></button>
                            <button pButton type="submit" label="Save as Draft" class="p-button-primary"></button>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="1">
                    <p-accordion-header>Parent Information</p-accordion-header>
                    <p-accordion-content>
                        <div class="form-row">
                            <div class="form-field">
                                <label for="parent-name">Parent Name</label>
                                <input type="text" name="parent-name" id="parent-name" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="relation">Relation</label>
                                <select id="relation">
                                    <option value="" disabled selected>Select </option>
                                    <option value="father">Father </option>
                                    <option value="mother">Mother </option>
                                    <option value="other">Other </option>
                                </select>
                            </div>
                            <div class="form-field">
                                <label for="parent-mobile">Mobile No</label>
                                <input type="text" name="parent-mobile" id="parent-mobile" pInputText />
                            </div>
                            <div class="form-field">
                                <label for="parent-email">Email (optional)</label>
                                <input type="email" name="parent-email" id="parent-email" pInputText />
                            </div>

                        </div>
                        <div class="form-actions">
                            <button pButton type="reset" label="Reset" class="p-button-secondary"></button>
                            <button pButton type="submit" label="Save as Draft" class="p-button-primary"></button>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>

                <p-accordion-panel value="2">
                    <p-accordion-header>Present Address</p-accordion-header>
                    <p-accordion-content>
                        <div class="form-row">
                            <div class="form-field">
                                <label for="address">Address</label>
                                <input type="text" id="address" name="address" pInputText>
                            </div>
                            <div class="form-field">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" pInputText>
                            </div>
                            <div class="form-field">
                                <label for="state-select">State</label>
                                <select id="state-select" class="p-inputtext" [(ngModel)]="selectedState">
                                    <option value="" disabled selected>Select State</option>
                                    <option *ngFor="let state of states" [value]="state.name">
                                        {{ state.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="3">
                    <p-accordion-header>Permanent Address</p-accordion-header>
                    <p-accordion-content>
                        <p class="m-0">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem
                            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta
                            sunt explicabo. Nemo
                            enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos
                            qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam
                            eius modi.
                        </p>
                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="4">
                    <p-accordion-header>School Information</p-accordion-header>
                    <p-accordion-content>
                        <div class="form-row">
                            <div class="form-field">
                                <label for="class">Class</label>
                                <input id="class" type="text" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="section">Section</label>
                                <input id="section" type="text" pInputText />
                            </div>

                            <div class="form-field">
                                <label for="roll-number">Roll Number</label>
                                <input id="roll-number" type="text" pInputText />
                            </div>
                        </div>

                        <div class="form-actions">
                            <button pButton type="reset" label="Reset" class="p-button-secondary"></button>
                            <button pButton type="submit" label="Save as Draft" class="p-button-primary"></button>
                        </div>

                    </p-accordion-content>
                </p-accordion-panel>
                <p-accordion-panel value="5">
                    <p-accordion-header>Document Information</p-accordion-header>
                    <p-accordion-content>

                        <app-file-uploader></app-file-uploader>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        </p-tabpanel>
        <p-tabpanel value="1">
            <app-view-students></app-view-students>
        </p-tabpanel>

    </p-tabpanels>

</p-tabs>