<div class="layout-container" [class.sidebar-collapsed]="isSidebarCollapsed">
  <app-top-bar class="topbar" [isSidebarCollapsed]="isSidebarCollapsed"
    (toggleSidebar)="toggleSidebar()"></app-top-bar>

  <div class="main-content">
    <app-side-menu class="sidemenu" [collapsed]="isSidebarCollapsed"></app-side-menu>

    <div class="page-content">
      <!-- 🧭 Add Breadcrumb Here -->
      <app-breadcrumb></app-breadcrumb>

      <!-- Body Content -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer class="footer"></app-footer>
</div>