<p-toast></p-toast>
<p-tabView [(activeIndex)]="activeTabIndex">
  <p-tabPanel [header]="isEditMode ? 'Edit' : 'Add'">
    <p-card>
      <div class="p-fluid p-formgrid grid gap-4">
        <div class="col-12 md:col-4">
          <label for="menu" class="mb-2 block">Select Menu</label>
          <p-dropdown id="menu" [options]="menuOptions" optionLabel="name" optionValue="menuId"
            placeholder="Choose Menu" [(ngModel)]="selectedMenuId" class="w-full">
          </p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <label for="subMenuName" class="mb-2 block">Sub-Menu Name</label>
          <input id="subMenuName" type="text" pInputText [(ngModel)]="subMenuName" placeholder="Enter sub-menu name"
            class="w-full" />
        </div>

        <div class="col-12 md:col-4">
          <label for="subMenuUrl" class="mb-2 block">Sub-Menu URL</label>
          <input id="subMenuUrl" type="text" pInputText [(ngModel)]="submenuUrl" placeholder="Enter sub-menu URL"
            class="w-full" />
        </div>

        <div class="col-12 md:col-4">
          <label for="privileges" class="mb-2 block">Select Privileges</label>
          <p-multiSelect [options]="privilegeOptions" [(ngModel)]="selectedPrivilegeIds" optionLabel="privilegeName"
            optionValue="privilegeId" placeholder="Choose Privileges" display="chip" class="w-full">
          </p-multiSelect>
        </div>

        <div class="col-12 md:col-4 ml-2">
          <label for="subMenuDescription" class="mb-2 block">Sub-Menu Description</label>
          <textarea id="subMenuDescription" pInputTextarea [(ngModel)]="subMenuDescription" [rows]="2"
            placeholder="Enter Sub-menu description" class="w-full p-3"></textarea>
        </div>


        <div class="col-12">
          <div class="flex gap-2 flex-start">
            <button pButton *ngIf="!isEditMode" label="Reset" class="p-button-danger" (click)="resetForm()"></button>
            <button pButton *ngIf="isEditMode" label="Cancel" class="p-button-danger" (click)="cancelEdit()"></button>
            <button pButton [label]="isEditMode ? 'Update' : 'Submit'" class="p-button-success"
              (click)="submit()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </p-tabPanel>

  <p-tabPanel header="View">
    <div class="menu-list-container p-fluid">

      <app-standard-list-view [config]="listViewConfig" [data]="submenuItems">
      </app-standard-list-view>

    </div>
  </p-tabPanel>
</p-tabView>