<div class="card">
    <app-standard-list-view [config]="listViewConfig" [data]="years">
    </app-standard-list-view>

    <p-dialog [(visible)]="yearDialog" [style]="{width: '450px'}" header="Academic Year Details" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="yearCode">Year Code</label>
                <input type="text" pInputText id="yearCode" [(ngModel)]="year.yearCode" required appAutofocus
                    placeholder="e.g. AY-2024-25" />
                <small class="p-error" *ngIf="submitted && !year.yearCode">Year Code is required.</small>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="startDate">Start Date</label>
                    <input type="date" pInputText id="startDate" [(ngModel)]="year.startDate" />
                </div>
                <div class="field col">
                    <label for="endDate">End Date</label>
                    <input type="date" pInputText id="endDate" [(ngModel)]="year.endDate" />
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveYear()"></button>
        </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="semestersDialog" [style]="{width: '800px'}" [header]="'Manage Semesters'" [modal]="true"
        [maximizable]="true">
        <ng-template pTemplate="content">
            <app-semester-list *ngIf="selectedYearForSemesters && selectedYearForSemesters.id"
                [academicYearId]="selectedYearForSemesters.id" [academicYearName]="selectedYearForSemesters.yearCode">
            </app-semester-list>
        </ng-template>
    </p-dialog>
</div>