<div class="flex justify-content-center align-items-center min-h-screen login-bg">
    <p-toast></p-toast>

    <p-card class="glass-card w-full sm:w-10 md:w-6 lg:w-4 xl:w-3">
        <form class="p-fluid text-center fade-in"
            (ngSubmit)="step === 1 ? sendOtp() : step === 2 ? verifyOtp() : resetPassword()">
            <h2 class="text-900 mb-4 text-center">Forgot Password</h2>

            <!-- Step 1: Username + Get OTP -->
            <ng-container *ngIf="step === 1">
                <div class="field mb-3">
                    <label for="username" class="block font-semibold mb-2 text-left w-full">Username</label>
                    <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required
                        class="w-full" placeholder="Enter your username"/>
                </div>

                <button pButton type="submit" label="Get OTP"
                    class="p-button-sm w-6 mx-auto mt-2 mb-3 p-button-rounded"></button>

                <div class="text-right   mt-3">
                    <a routerLink="/login"
                        class="text-sm text-gray-800 hover:text-blue-600 transition-colors duration-300 no-underline">
                        ← Back to Login
                    </a>
                </div>
            </ng-container>

            <!-- Step 2: Enter OTP -->
            <ng-container *ngIf="step === 2">
                <div class="text-sm text-gray-800 mb-3">
                    OTP sent to your registered number ending with <strong>XXXX1234</strong>
                </div>

                <div class="field mb-3">
                    <label for="otp" class="block font-semibold mb-2 text-left w-full">Enter OTP</label>
                    <input id="otp" type="text" pInputText [(ngModel)]="otp" name="otp" required class="w-full" placeholder="Enter OTP" />
                </div>
                <div class="flex justify-content-between items-center mb-3 text-sm text-gray-700">
                    <span class="mb-1">Didn’t receive OTP?</span>
                    <button pButton type="button" label="Resend OTP" class="p-button-text p-button-sm p-button-plain"
                        (click)="resendOtp()"></button>
                </div>
                <button pButton type="submit" label="Verify OTP"
                    class="p-button-sm w-6 mx-auto mt-2 mb-3 p-button-rounded"></button>
            </ng-container>

            <!-- Step 3: Reset Password -->
            <ng-container *ngIf="step === 3">
                <div class="field mb-3">
                    <label for="newPassword" class="block font-semibold mb-2 text-left w-full">New Password</label>
                    <p-password id="newPassword" name="newPassword" [(ngModel)]="newPassword" [feedback]="false"
                        [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full" required placeholder="Enter New Password"></p-password>
                </div>

                <div class="field mb-3">
                    <label for="confirmPassword" class="block font-semibold mb-2 text-left w-full">Confirm
                        Password</label>
                    <p-password id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                        [feedback]="false" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full"
                        required placeholder="ReType your Password"></p-password>
                </div>

                <button pButton type="submit" label="Reset Password"
                    class="p-button-sm w-6 mx-auto mt-2 mb-3 p-button-rounded"></button>
            </ng-container>
        </form>
    </p-card>
</div>