<p-toast></p-toast>
<p-tabView [(activeIndex)]="activeTabIndex">
  <p-tabPanel [header]="isEditMode ? 'Edit' : 'Add'">
    <p-card>
      <div class="p-fluid p-formgrid grid gap-4">
        <div class="col-12 md:col-4">
          <label for="menuName" class="mb-2 block">Menu Name</label>
          <input id="menuName" type="text" pInputText [(ngModel)]="menuName" placeholder="Enter menu name"
            class="w-full" />
        </div>

        <div class="col-12 md:col-4 ml-2">
          <label for="menuDescription" class="mb-2 block">Menu Description</label>
          <textarea id="menuDescription" pInputTextarea [(ngModel)]="menuDescription" [rows]="2"
            placeholder="Enter menu description" class="w-full p-3"></textarea>
        </div>
        <div class="col-4">
          <div class="flex gap-2 flex-start">
            <button pButton *ngIf="!isEditMode" label="Reset" class="p-button-danger" (click)="resetForm()"></button>
            <button pButton *ngIf="isEditMode" label="Cancel" class="p-button-danger" (click)="cancelEdit()"></button>
            <button pButton [label]="isEditMode ? 'Update' : 'Submit'" class="p-button-success"
              (click)="submit()"></button>
          </div>
        </div>
      </div>
    </p-card>
  </p-tabPanel>

  <p-tabPanel header="View">
    <div class="menu-list-container p-fluid">

      <app-standard-list-view [config]="listViewConfig" [data]="menuItems">
      </app-standard-list-view>

    </div>
  </p-tabPanel>
</p-tabView>